<a href="https://colab.research.google.com/github/rogernobre/colab/blob/main/TCC_POS_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./input/listings.csv')

In [3]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,2.341400e+04,2.341400e+04,0.0,23414.000000,23414.000000,23414.000000,23414.000000,23414.000000,15073.000000,23414.000000,23414.000000,23414.000000,0.0
mean,2.641178e+07,1.042743e+08,NaN,-22.965906,-43.248440,715.051166,5.286965,14.075639,0.649966,7.226787,229.193004,3.211327,NaN
std,1.665127e+07,1.142081e+08,NaN,0.035351,0.096823,4948.359542,20.850200,33.261309,0.907623,21.690645,130.210901,7.971381,NaN
min,1.787800e+04,3.607000e+03,NaN,-23.072620,-43.698890,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,1.242405e+07,1.427959e+07,NaN,-22.984650,-43.303010,150.000000,1.000000,0.000000,0.090000,1.000000,90.000000,0.000000,NaN
50%,2.618998e+07,6.037972e+07,NaN,-22.971915,-43.196135,270.000000,2.000000,2.000000,0.270000,1.000000,264.000000,0.000000,NaN
75%,4.193944e+07,1.594694e+08,NaN,-22.950905,-43.186120,550.000000,4.000000,11.000000,0.910000,3.000000,362.000000,2.000000,NaN
max,5.249405e+07,4.245700e+08,NaN,-22.749690,-43.104400,621850.000000,1000.000000,486.000000,25.520000,187.000000,365.000000,239.000000,NaN

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.96599,-43.17940,Entire home/apt,350,4,265,2021-05-21,2.07,1,314,12,NaN
1,24480,"Nice and cozy near Ipanema Beach, w/ home office",99249,Goya,NaN,Ipanema,-22.98405,-43.20189,Entire home/apt,297,3,85,2017-04-22,0.86,1,30,0,NaN
2,25026,Beautiful Modern Decorated Studio in Copa,102840,Viviane,NaN,Copacabana,-22.97735,-43.19105,Entire home/apt,160,7,238,2019-04-27,1.86,2,266,0,NaN
3,35636,Cosy flat close to Ipanema beach,153232,Patricia,NaN,Ipanema,-22.98839,-43.19232,Entire home/apt,271,2,181,2019-12-06,1.92,1,151,0,NaN
4,35764,COPACABANA SEA BREEZE - RIO - 20 X Superhost,153691,Patricia Miranda & Paulo,NaN,Copacabana,-22.98107,-43.19136,Entire home/apt,121,3,371,2019-06-15,3.05,1,30,35,NaN

In [5]:
df.isnull().sum()

id                                    0
name                                 21
host_id                               0
host_name                            18
neighbourhood_group               23414
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        8341
reviews_per_month                  8341
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           23414
dtype: int64